<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--css link to style the page got from bootstrap page-->
<div class="container text-center">
  <p>
  Hi there!!
  This is Sweeitha:)
  <br><br>
  Hope you enjoy the web tour like I do...
  <br><br>
  This page has designed to provide you the password with the specifications you need.
  </p>
  <a href="{% url 'home' %}" class="btn btn-success">Touch me to go home</a>
  <!--Navigates to home page as we mentioned the name of url as home in urls.py-->
</div>
